.ft{
	border: 2px solid darkgrey;
	border-spacing: 5px;
	border-collapse: separate;
	border-radius: 12px;
	width: 100%;
	margin-bottom: 9%;
}
.ft th, .ft td{
	border: 1px dashed darkgrey;
	font-size: 90%;
	text-align: left;
	border-radius: 10px;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 50%;
	background-color: rgba(255, 255, 255, 0.3);
}
.ft th{
	padding-left: 1%;
	vertical-align: middle;
}
input, select, textarea{
	text-align: center;
	width: 100%;
	border-radius: 7px;
	background-color: rgba(255, 255, 255, 0.6);
}
textarea{
	text-align: left;
}
.l{
	width: 3%;
}
.pad{
	padding-left: 9%;
}

.ver{
	width: 70%;
	height: auto;
	border-radius: 7px;
}
.sub{
	width: 60%;
	text-align: center;
	height: 37px;
	font-size: 110%;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-weight: bold;
	border: 1px dashed white;
}
